body {
	font-size: 12px;
	font-family:Arial,微软雅黑,宋体;
	_font-family:"微软雅黑";
	margin:10px 0px;
	-webkit-text-size-adjust:none;
	background:url("../images/body.gif") repeat-x left top #fff;
	color:#646370;
	text-shadow: white 1px 1px 0;
}
ul {
	margin-top:5px;
}
ul li {
	line-height:20px;
	font-size:13px;
}
form, dl,dt,dd {
	margin:0px;
	padding:0px;
}
h2 {
	font-size:20px;
	color:#82879B
}

h3 {
	font-size:17px;
	margin:20px 0px 5px 0px;
	font-weight:normal;
}
h3 span{
	font-size:12px;
	color:#7F7F7F;
}
p {
	margin:10px 0px 5px 0px;
	text-align:left;
}
img {
	border:0px;
}
input {
	font-size:11px;
	margin:2px 0px;
	padding:1px 10px;
	_padding:0px 4px;
	font-family:Arial,微软雅黑,宋体;
}
select {
	font-size: 12px;
	width: 312px;
	padding: 2px 4px;
	font-family: Arial,微软雅黑,宋体;
}
textarea {
	width:300px;
	padding:5px;
	height:150px;
	outline: none;
	display:none;
	font-size:12px;
	font-family: Arial,微软雅黑,宋体;
}
a,latel {
	cursor: pointer;
	outline:none; 
	color:#446C95;
	blr:expression(this.onFocus=this.blur());   /*chrome*/
	hide-focus:expression(this.hideFocus=true); /*ie*/ 
	text-decoration: none;
}
.i {
	font-style:italic;
	font-size:10px;
}
.logo {
	background: url("../images/logo.gif") no-repeat scroll -0px -0px transparent;
	height: 50px;
	width: 200px;
	display: inline-block;
	margin-left:60px;
}


.input_text {
	width:180px;
	font-size:12px;
	padding:5px;
	font-family:Arial,微软雅黑,宋体;
	height: 13px;
	background: white url(../images/bg-textbox.gif) top center repeat-x;
	color: #555;
	border: 1px solid #ACB8CA;
	outline:none;
}
.disabled {
	color:#B4B4B4;
	background:#F7F7F7;
}

#error, #success {
	color:red;
	background:#FFFEF4;
	border:1px solid #FFD1BB;
	border-radius: 6px;
	padding:5px;
	display:inline;
}
#success {
	color:green;
	background:#F8FCF1;
	border:1px solid #C6E1BF;
}

#navigation {
	font-size:16px;
	background: white url(../images/leftbj02.gif) top center repeat-x;
	padding:8px 10px;
}
#navigation a{
	padding:4px 6px;
	color: #446C95;
}
#navigation a.activ, #navigation a:hover{
	border-radius: 5px;
	background:#fff;
	padding:3px 5px;
	border:1px solid #E6EAEC;
}

#navigation font{
	margin-right:20px;
	font-size:12px;
	margin-left:60px;
}


#STable {
	font-size:12px;
	width:98%;
	background:#DEE2DF;
}
#STable th{ 
	padding:4px 3px 3px 3px;
	_padding:2px 3px;
	font-weight:normal;
	background:url(../images/list02.gif) repeat top left;
}
#STable td{ 
	background:#FFFFFF;
	padding:5px 3px 5px 3px;
	_padding:3px 4px;
	text-align:center;
}
#notice_message {
	line-height:22px;
	background-color:#fff;
	padding:0px 10px 20px 20px;
	margin-top:50px;
	width:860px;
	font-size:12px;
	color:#929BA9;
	border:1px solid #AEB6C1;
}
#notice_message ul li {
	font-size:12px;
}
.red {
	color:red;
}

span.run_start {
	border:1px solid #42AA24;
	background:#EEF9EE;
	font-weight:bold;
	border-radius: 5px;
	display:inline-block;
	padding:1px 3px;
	color:#38921F;
	cursor: pointer;
}
span.run_stop {
	border:1px solid #FF5046;
	background:#FEEDED;
	font-weight:bold;
	border-radius: 5px;
	display:inline-block;
	padding:1px 3px;
	color:#FF2317;
	cursor: pointer;
}

/* global *************/

#header {
	width:100%;
}
#body {
	margin-left:60px;
	position: relative;
}
#body a{
	margin:2px;
}
#category {
	height:40px;
	margin-top: -18px;
	margin-left: -2px;
}
#body #category a {
	height: 17px;
	width: 57px;
	padding: 4px 8px 3px 8px;
	font-weight: normal;
	display: inline-block;
	margin-top:7px;
	margin-right: 5px;
	background: url(../images/category02.gif);
	text-align: center;
	color: #9D9D9D;
	font-size:12px;
	float:left;
}
#body #category a.activ {
	background: url(../images/category.gif);
	color: #72828F;
	height: 27px;
}
#footer {
	color:#8B8DA3;
	font-size:10px;
	margin:40px 60px;
}



/* login *************/
#login {
	/*
	width:600px;
	margin:50px 0px 0px 300px;
	*/
}

#login dl {
	padding:4px 3px;
	display:block;
	width:450px;
}
#login  dt {
	width:160px;
	text-align:left;
	font-size:10px;
	color:#385361;
}
#login  dd {
	width:300px;
	text-align:left;
}

#LoginForm {
	margin-left:60px;
}

/* Account **********/
#account {
	/*font-size:10px;*/
}


/* Home ***********/
#amh_home {
	float:left;
	margin-top:10px;
}
#amh_info {
	position:absolute;
	right:20px;
	border:1px solid #DDDDDD;
	background:#fff;
	top:10px;
	width:390px;
	color:#798B9D;
}
#amh_info div {
	padding:5px 10px;
	line-height:20px;
	font-size: 11px;
}
#amh_info b {
	font-size:14px;
	background:white url(../images/leftbj02.gif) top center repeat-x;
	font-weight:normal;
	display:block;
	padding:18px 10px 7px;
}
#amh_info i {
	display:block;
	text-align:right;
	color:#ABB6BC;
	font-size:10px;
}
#amh_news {
	margin-bottom:10px;
}
#amh_info a{
	margin:0px;
}


/* FTP **********/
#ftp_edit {
	width:420px;
}
#ftp_edit input.input_text{
	width:240px;
	margin-right:5px;
}
.none {
	display:none;
}


/* host **********/
#host_edit input.input_text{
	width:300px;
}

#host_root {
	color:red;
}


/* remote_edit **********/
#remote_edit input.input_text{
	width:300px;
}


/* page_list **********/
#page_list {
	width:900px;
	margin:20px 0px;
	text-align:left;
	font-size:14px;
}
#page_list a {
	padding:0px 5px;
	margin:1px;
}
#page_list a#page_now{
	background:#FDF7EE;
	border:1px solid #8A99A2;
}



/* module_list ************/

#module_list {
	width:700px;
	margin:8px 0px;
	font-family: 微软雅黑,Arial,宋体;
	color:#717171;
}
#module_list .item, #module_list .item_hover  {
	padding:10px;
	width:90%;
	margin:0px 10px 20px 0px;
	display:block;
	cursor:default;
	text-shadow: #fff 1px 1px 0;
	position: relative;
	border:1px solid #E3E3E3;
	border-radius: 5px;
	background:url(../images/Listbj.gif) repeat-x left top white;
}

#module_list .item_hover {
	background:url(../images/Listbj01.gif) repeat-x left top white;
	border-radius: 5px;
	border:2px solid #DBDBDB;
	padding:9px;
}

#module_list h3 {
	font-size:14px;
	margin:10px;
	color:#73889B;
	font-weight:bold;
}
#module_list h3 i {
	font-size:12px;
	color:#BBBBBB;
	margin:1px;
}
#module_list h3 font{
	font-size:10px;
	color:#BBBBBB;
	font-weight:normal;
}
#module_list i{
	font-size:10px;
}
#module_list i.by{
	float:right;
	margin:2px 10px;
}

#module_list em {
	color:#0055AA;
	cursor:pointer;
	font-size:10px;
	float:right;
	margin:2px 0px;
}

#module_list a.button {
	width:93px;
	height:20px;
	padding:8px 0px 0px 0px;
	border:0px;
	text-align:center;
	font-size:12px;
	/*font-weight:bold;*/
	float:right;
	position:absolute;
	right:20px;
	top:7px;
	cursor:pointer;
	background:url(../images/button.gif) no-repeat -3px -34px;
	font-family: 微软雅黑,Arial,宋体;
	color:#73889B;
}
#module_list a.button:hover {
	background:url(../images/button.gif) no-repeat -3px -2px;
}

#module_list p {
	font-size:11px;
	line-height:18px;
}

#module_list p, #module_list font , #module_list i{
	margin:2px 10px;
}

#module_list .SumDiv {
	margin:20px 50px 0px 10px;
}